A:link {
	FONT-WEIGHT: bold; COLOR: blue
}
A:visited {
	FONT-WEIGHT: bold; COLOR: #003399
}
A:active {
	COLOR: red
}
.hiddenLayer {
	VISIBILITY: hidden; POSITION: absolute
}
.errorPanel {
	POSITION: relative
}
.buttonPanel {
	LEFT: 250px; WIDTH: 500px; POSITION: absolute; TOP: 550px; HEIGHT: 25px
}
.img {
	BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #000000 0px solid; BORDER-LEFT: #000000 0px solid; BORDER-BOTTOM: #000000 0px solid
}
.userid {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; CLIP: rect(50px 50px 50px 50px); FONT-STYLE: normal; FONT-FAMILY: arial, helvetica, sans-serif; BACKGROUND-COLOR: #154b87
}
.mandatory {ctable
	WIDTH: 1px; COLOR: #ff0ff0; FONT-FAMILY: arial, helvetica, sans-serif; HEIGHT: 1px
}
.bbody {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; MARGIN: 0px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica, sans-serif; BACKGROUND-COLOR: #154b87
}
.btable {
	MARGIN: 0px; WIDTH: 100%; BACKGROUND-COLOR:#154b87
}
.btextw {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-ALIGN: right
}
.bmenub {
	FONT-WEIGHT: bolder; FONT-SIZE: 10pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-ALIGN: center
}
.bcaptionw {
	FONT-WEIGHT: bolder; FONT-SIZE: 12pt; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica, sans-serif; BACKGROUND-COLOR: #E2CFCD; TEXT-ALIGN: center
}
.hform {
	MARGIN: 0px; WIDTH: 100%; BACKGROUND-COLOR: #ffffff
}
.htable {
	MARGIN-TOP: 0px; MARGIN-LEFT: 0px; WIDTH: 100%; BACKGROUND-COLOR: #ffffff
}
.hmenutextw {
	FONT-WEIGHT: bolder; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-ALIGN: center
}
.hcaption {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #003366; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica, sans-serif; BACKGROUND-COLOR: #000000; TEXT-ALIGN: right; WORD-WRAP: break-word
}
.htext {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #ff0000; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica, sans-serif; BACKGROUND-COLOR: #000000; TEXT-ALIGN: left; WORD-WRAP: break-word
}
.cbody {
	
 FONT-WEIGHT: normal; FONT-SIZE: 10pt; MARGIN: 0px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica, sans-serif; background: #154b87
 
 }
.cform {
	MARGIN: 0px; WIDTH: 100%; BACKGROUND-COLOR: #154b87
}
.cformw {
	MARGIN: 0px; WIDTH: 100%; BACKGROUND-COLOR: #154b87
}
.ctable {
	MARGIN: 2px; WIDTH: 99.5%; BACKGROUND-COLOR:#e9f2f7
}
.sform {
	MARGIN: 0px; WIDTH: 100%; BACKGROUND-COLOR: #000000
}
.ctablew {
	MARGIN: 2px; WIDTH: 99.5%; BACKGROUND-COLOR: #154b87
}
.ccaption {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica, sans-serif; BACKGROUND-COLOR: #154b87; TEXT-ALIGN: center
}
.ccaptionb {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica, sans-serif; BACKGROUND-COLOR: #154b87; TEXT-ALIGN: left
}
.ctext {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica, sans-serif
}
.ctext_small {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica, sans-serif
}
.ctext_smallw {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica, sans-serif; BACKGROUND-COLOR: #faebd7
}
.clist {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; BACKGROUND: #154b87; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica, sans-serif
}
.text {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; TEXT-TRANSFORM: uppercase; COLOR: #000000; FONT-STYLE: normal; HEIGHT: 22px; BACKGROUND-COLOR: #154b87
}
.label {
	BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #000000 0px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #000000; BORDER-LEFT: #000000 0px solid; COLOR: #000000; BORDER-BOTTOM: ##e9f2f7 0px solid; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica, sans-serif
}
.button {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 25px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; MARGIN-LEFT: 5px; BORDER-LEFT: #000000 1px solid; COLOR: #154b87; MARGIN-RIGHT: 5px; PADDING-TOP: 3px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #238bd6
}
.button_more_crit {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 10pt; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #000000 1px solid; WIDTH: 140px; COLOR: #154b87; BORDER-BOTTOM: #000000 1px solid; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #238bd6; TEXT-ALIGN: center
}
.calbutton {
	WIDTH: 25px; HEIGHT: 25px
}
.check {
	MARGIN: 0px
}
.htab {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fcdbba
}
.ctextb {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica, sans-serif
}
.table-menu {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ccd8ff
}
.table-menu-lamod {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #ccd8ff; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.display-text {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #003399; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
BODY {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 10px; BACKGROUND: #154b87; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif
}
INPUT {
	TEXT-TRANSFORM: uppercase
}
INPUT.normal {
	TEXT-TRANSFORM: none
}
HR {
	COLOR: #666600
}
A:hover {
	BACKGROUND: #000000
}
TABLE {
	FONT-SIZE: 11px; VERTICAL-ALIGN: top; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif; horizontal-align: left
}
TABLE.menulistonetitle {
	LEFT: 36px; POSITION: absolute; TOP: 0px
}
TABLE.menulistone {
	FONT-SIZE: 10px; LEFT: 44px; VERTICAL-ALIGN: top; LINE-HEIGHT: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif; POSITION: absolute; TOP: 21px; horizontal-align: left
}
TABLE.menulisttwo {
	FONT-SIZE: 10px; LEFT: 0px; VERTICAL-ALIGN: top; LINE-HEIGHT: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif; TOP: 0px; horizontal-align: left
}
TABLE.menulisttwotitle {
	LEFT: 0px; POSITION: absolute; TOP: 0px
}
TABLE.menulistthreetitle {
	LEFT: 30px; POSITION: absolute; TOP: 25px
}
TABLE.menulistthree {
	FONT-SIZE: 10px; LEFT: 0px; VERTICAL-ALIGN: top; LINE-HEIGHT: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif; POSITION: absolute; TOP: 30px; horizontal-align: left
}
TABLE.table1 {
	FONT-SIZE: 10px; LEFT: 0px; VERTICAL-ALIGN: top; WIDTH: 100%; LINE-HEIGHT: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif; POSITION: absolute; TOP: 600px; horizontal-align: left
}
TABLE.title {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; LEFT: 0px; VERTICAL-ALIGN: top; COLOR: navy; LINE-HEIGHT: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, sans-serif; POSITION: absolute; TOP: 0px; horizontal-align: left
}
TH {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; BORDER-LEFT: medium none; COLOR: brown; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #33cccc; TEXT-ALIGN: center
}
TBODY {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
TD.toprow {
	FONT-SIZE: 11px; BACKGROUND: #dddddd; COLOR: #000000
}
TD.altrow1 {
	BACKGROUND: #fefefe; COLOR: #000000
}
TD.altrow2 {
	BACKGROUND: #ffffdd; COLOR: #000000
}
A.Button1:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #005a8c; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: none
}
A.Button1:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #005a8c; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: none
}
A.Button1:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #3399cc; FONT-FAMILY: Verdana, Arial; TEXT-DECORATION: underline
}
.Button2 {
	BORDER-RIGHT: #996600 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #154b87 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #154b87 1px solid; COLOR: #006699; PADDING-TOP: 0px; BORDER-BOTTOM: #996600 1px solid; FONT-FAMILY: verdana; LETTER-SPACING: -0.1pt; HEIGHT: 12pt; BACKGROUND-COLOR: #33cccc; TEXT-DECORATION: none
}
FONT.ltrlColor {
	COLOR: blue
}
.TA {
	SCROLLBAR-3DLIGHT-COLOR: blue; SCROLLBAR-ARROW-COLOR: black; SCROLLBAR-DARKSHADOW-COLOR: darksalmon; SCROLLBAR-BASE-COLOR: #ccd8ff
}
.ntab {
	BACKGROUND-COLOR: #006699
}
A.tab:link {
	FONT-WEIGHT: bold; COLOR: white; BACKGROUND-COLOR: #006699; TEXT-DECORATION: none
}
A.tab:visited {
	FONT-WEIGHT: bold; COLOR: blue; BACKGROUND-COLOR: #006699; TEXT-DECORATION: none
}
A.tab:active {
	COLOR: white; BACKGROUND-COLOR: #006699; TEXT-DECORATION: none
}
.stable {
	MARGIN: 2px; WIDTH: 60%; BACKGROUND-COLOR: #ccd8ff
}
.slabel {
	BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #000000 0px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #ccd8ff; BORDER-LEFT: #000000 0px solid; COLOR: #000000; BORDER-BOTTOM: #000000 0px solid; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica, sans-serif
}
.TA {
	SCROLLBAR-3DLIGHT-COLOR: blue; SCROLLBAR-ARROW-COLOR: black; SCROLLBAR-DARKSHADOW-COLOR: darksalmon; SCROLLBAR-BASE-COLOR: #ccd8ff
}
.ktable {
	MARGIN: 2px 10px 2px 40px; WIDTH: 70.5%; BACKGROUND-COLOR: #0000000
}
.kcaptionw {
	FONT-WEIGHT: bolder; FONT-SIZE: 10pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica, sans-serif; BACKGROUND-COLOR: #ccd8ff; TEXT-ALIGN: center
}
.button1 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 8pt; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #000000 1px solid; COLOR: #154b87; BORDER-BOTTOM: #000000 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #238bd6; TEXT-ALIGN: center
}
.page-heading {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}

-->
